*.iml

#根目录
/local.properties

/.idea/workspace.xml
/.idea/libraries
/.idea/task.xml
/.idea/dictionaries
/.idea/libraries
.DS_Store

*.jks

captures/

google-services.json

freeline.py
freeline/
freeline_project_description.json

.externalNativeBuild

*.apk
*.ap_

*.dex

*.class

bin/
gen/
out/

.gradle/
/build

progurad/

*.log

.navigation/

